@charset "UTF-8";

/* em HTML é id   = em CSS é #
   em HTML é class= em CSS é .
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif; 
}

#principal {
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h1 {
    color: rgb(4, 109, 0);
}

.basico {
    color: #3c805e;
}

.intermediario {
    color: #80793c;
}

.avancado {
    color: #803c3c;
}

h2 { 
    color: #3c805e;
}

.destaque {
    color: #dfcd26bd;
}