@charset "UTF-8";

* {
    font-family: cursive;
    /*height:100%;*/
}

body {
    background-image: linear-gradient(to right, azure,rgb(206, 216, 216),rgb(197, 209, 209));
}

main {
    background-color: #e7f0ff, #fff6e7;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616) ;
    width: 300px;
    padding: 10px;
    margin: auto;
}
div {
    background-color: #ffeae7;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #b8c0ce;
    width: 400px;
    margin: center;
}

h2 {
    align-self: ;
    color: black;
}

p {
    font-family: cursive;
    font-size: large;
}